textarea {
	resize: none;
	font-size: 20px;
	overflow: hidden;
	height: 50px;
}

#exit {
	float: left;
}

#p1 {
	float: left;
	width: 30%;
}

#p2 {
	width: 30%;
	margin-left: 50%;
}

#sidebar {
	width: 100%;
}

.board {
	width: 255px;
	height: 495px;
	background-image: linear-gradient(#540853, #060530);
	border-radius: 10px;
}